.create-form-container {
  display: flex;
  flex-direction: column;
}

.create-form-title {
  width: 100%;
  display: flex;
  padding: 55px 55px 0 55px;
}

.create-form-title .icon {
  background-color: var(--raisin-black);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-form-title h1 {
  margin-left: 15px;
}

.icon:hover {
  opacity: 0.9;
}

.createForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 55px;
}

.createForm input {
  height: 45px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
  padding-left: 10px;
  border: 1px solid #eee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-submit {
  background-color: var(--raisin-black);
  color: white;
}
