:root {
    --raisin-black: #2e2c2f;
    --paynes-gray: #475b63;
    --cambridge-blue: #729b79;
    --ash-gray: #BACDB0;
    --lavendar-blush: #f3e8ee;
}

.icon {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.icon:hover {
    opacity: .8;
}