:root {
    --raisin-black: #2e2c2f;
    --paynes-gray: #475b63;
    --cambridge-blue: #729b79;
    --ash-gray: #BACDB0;
    --lavendar-blush: #f3e8ee;
}

.log-detail-container {
    width: 100%;
    padding: 125px 0;
}

.log-detail-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 50%;
    margin: 0 auto;
    padding: 25px;
}

.log-detail-card-icons {
    margin-bottom: 25px;
}

.log-detail-card a {
    background-color: var(--raisin-black);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}
