.nav-container {
    width: 100%;
    height: 80px;
    background-color: #37393a;
    color: #E8EEF2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}

.nav-container .add-log a{
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-size: 32px;
}