:root {
  --raisin-black: #2e2c2f;
  --paynes-gray: #475b63;
  --cambridge-blue: #729b79;
  --ash-gray: #bacdb0;
  --lavendar-blush: #f3e8ee;
}

input {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  width: 300px;
  height: 40px;
}

textarea {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.submitUpdate {
  margin-top: 10px;
}

.alert {
  margin: 0;
}

.alert .alert-title {
  display: flex;
  justify-content: space-between;
}

.alert-title .alert-icons {
  font-size: 20px;
}

.alert-icons .icon {
  margin: 0 5px;
  cursor: pointer;
}

.shiftlog-container {
  width: 100%;
  height: 100%;
}

table {
  margin-top: 0;
}

td {
  font-size: 14px;
}

td a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}

td a:hover,
a:focus {
  color: #6b6b6b;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}
