:root {
    --raisin-black: #2e2c2f;
    --paynes-gray: #475b63;
    --cambridge-blue: #729b79;
    --ash-gray: #BACDB0;
    --lavendar-blush: #f3e8ee;
}

.shiftlog-container {
    width: 100%;
    height: 100%;
}

.shift-table {
    width: 100%;
    text-align: center;
}

.table, th {
    color: var(--raisin-black);
}

td a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}

td a:hover, a:focus {
    color: var(--cambridge-blue);
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}